{% extends "layout/base.html" %} {% block title %} | Add User {% endblock %} {%
block body %}
<div class="d-flex flex-column align-items-center" style="margin-bottom: 84px">
  <div class="d-flex justify-content-center mt-3">
    <div class="p-3 shadow-sm">
      <img src="{{ url_for('video') }}" width="600" />
    </div>
  </div>
  <!-- Button trigger modal -->
  <button
    type="submit"
    style="width: 600px; font-size: 18px"
    class="btn btn-primary my-5"
    data-bs-toggle="modal"
    data-bs-target="#capturedImageModal"
    onclick="onCaptureFaceImage('/admin/user/detect-face')"
  >
    Capture Face
  </button>

  <!-- Modal -->
  <div
    class="modal fade"
    id="capturedImageModal"
    tabindex="-1"
    aria-labelledby="capturedImageModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="capturedImageModalLabel">
            Store Face | {{ user.name }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="d-flex justify-content-center my-4">
            <h5 id="capturedFaceImageErrorText" style="color: #dc2626"></h5>
            <img id="capturedFaceImage" />
          </div>
          <form action="{{ url_for('admin.user.store_face') }}" method="POST">
            <input
              id="faceBase64String"
              name="faceBase64String"
              type="hidden"
            />
            <input
              id="userId"
              name="userId"
              type="hidden"
              value="{{ user.id }}"
            />
            <div class="d-flex w-100 justify-content-end">
              <button
                type="submit"
                class="btn btn-primary w-100"
                data-bs-dismiss="modal"
              >
                Store Face
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block js %}
<script>
  const capturedFaceImage = document.getElementById("capturedFaceImage");
  const capturedFaceImageErrorText = document.getElementById(
    "capturedFaceImageErrorText"
  );
  const faceBase64StringInput = document.getElementById("faceBase64String");

  const onCaptureFaceImage = (url) => {
    capturedFaceImage.style.display = "none";
    capturedFaceImageErrorText.innerHTML = "";

    fetch(url).then(async (value) => {
      const valueText = await value.text();
      console.log(typeof valueText);
      if (valueText === "Error") {
        capturedFaceImageErrorText.innerHTML =
          "Face not found. Please try again!";
      } else {
        capturedFaceImage.style.display = "block";
        const src = `data:image/jpeg;base64,${valueText}`;
        capturedFaceImage.src = src;
        faceBase64StringInput.value = valueText;
      }
    });
  };
</script>
{% endblock %}
