{% extends "layout/base.html" %} 

{% block title %} | Home {% endblock %} 

{% block body %}
<div class="d-flex flex-column align-items-center">
  <div class="col-10 mt-4">
    <table id="attendanceDataTable" class="table table-striped">
      <thead class="table-primary">
        <tr style="color: #1F2937">
          <th scope="col">ID</th>
          <th scope="col">User ID</th>
          <th scope="col">User Name</th>
          <th scope="col">Check In Timestamp</th>
          <th scope="col">Check Out Timestamp</th>
          <th scope="col">Attendance Date</th>
        </tr>
      </thead>
      <tbody class="table-light fw-semibold">
        {% for attendance in attendance_list %}
        <tr class="align-middle table-light" style="color: #1F2937">
          <td scope="col">{{ 'AT{:>04}'.format(attendance.id) }}</td>
          <td scope="col">{{ 'US{:>04}'.format(attendance.user.id) }}</td>
          <td scope="col">{{ attendance.user.name }}</td>
          <td scope="col">{{ attendance.check_in_time }}</td>
          <td scope="col">{{ attendance.check_out_time }}</td>
          <td scope="col">{{ attendance.attendance_date }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
{% block js %}
<script>
  $(document).ready(function() {
    $('#attendanceDataTable').DataTable({
      lengthMenu: [[10, 15, 25, -1], [10, 15, 25, "All"]]
    });
  });
</script>
{% endblock %}