{% extends "base.html" %} {% block title %} | Check In {% endblock %} {% block
body %}
<div class="d-flex flex-column align-items-center" style="margin-bottom: 84px;">
  <div class="d-flex justify-content-center mt-3">
    <div class="p-3 shadow-sm">
      <img src="{{ url_for('video') }}" width="600" />
    </div>
  </div>
  <div style="width: 600px" class="d-flex justify-content-between">
    <button
      type="submit"
      style="width: 288px; font-size: 18px;"
      class="btn btn-primary my-5"
      onclick="onCaptureFaceImage('/attendance/check-in')"
    >
      Check In
    </button>
    <button
      type="submit"
      style="width: 288px; font-size: 18px;"
      class="btn btn-primary my-5"
      onclick="onCaptureFaceImage('/attendance/check-out')"
    >
      Check Out
    </button>
  </div>
  <h5 id="checkedInText" style="color: #27272A; width: 640px; text-align: center;"></h5>
</div>
{% endblock %} {% block js %}
<script>
  const checkedInText = document.getElementById("checkedInText");

  const onCaptureFaceImage = (url) => {
    checkedInText.innerHTML = "";

    fetch(url).then(async (value) => {
      const valueText = await value.text();
      checkedInText.innerHTML = valueText;
    });
  };
</script>
{% endblock %}
