{% extends "base.html" %} {% block title %} | Check In {% endblock %} {% block
body %}
<div class="d-flex flex-column align-items-center">
  <div class="d-flex justify-content-center mt-5">
    <div class="p-3 shadow-sm">
      <img src="{{ url_for('video') }}" width="600" />
    </div>
  </div>
  <button
    type="submit"
    style="width: 600px"
    class="btn btn-primary my-5"
    onclick="onCaptureFaceImage('/check-in')"
  >
    Check In
  </button>
  <h4 id="checkedInText" style="color: #111827"></h4>
</div>
{% endblock %} {% block js %}
<script>
  const checkedInText = document.getElementById("checkedInText");

  const onCaptureFaceImage = (url) => {
    checkedInText.innerHTML = "";

    fetch(url).then(async (value) => {
      const valueText = await value.text();
      checkedInText.innerHTML = valueText;
    });
  };
</script>
{% endblock %}
