<footer
  class="w-100 d-flex flex-sm-row flex-column container-fluid align-items-center justify-content-between px-4 py-2 fixed-bottom"
  style="background-color: #eff6ff"
>
  <div class="ms-sm-4 col d-flex align-items-center">
    <h4 class="fw-bold m-0 me-3" style="color: #2563eb">Precencia</h4>
    <a
      class="me-3"
      target="_blank"
      href="https://github.com/ukayaj620/precencia"
    >
      <i class="fs-4 bi-github" style="color: #334155"></i>
    </a>
  </div>
  <div class="col text-center">
    <p class="mt-2 small fw-semibold">
      Built with <i class="bi bi-heart-fill" style="color: #dc2626"></i>
      using
      <span
        ><a
          class="text-decoration-none"
          target="_blank"
          href="https://tensorflow.org/"
          >Tensorflow</a
        ></span
      >,
      <span
        ><a
          class="text-decoration-none"
          target="_blank"
          href="https://opencv.org/"
          >OpenCV</a
        ></span
      >, and
      <span
        ><a
          class="text-decoration-none"
          target="_blank"
          href="https://flask.palletsprojects.com/en/2.0.x/"
          >Flask Microframework</a
        ></span
      >
    </p>
  </div>
  <div
    class="col mt-4 mt-sm-0 me-sm-4 d-flex flex-column align-items-center align-items-sm-end"
  >
    <p class="text-sm-end mt-2 small fw-semibold">
      Developed by
      <span
        ><a
          class="text-decoration-none"
          target="_blank"
          href="https://linkedin.com/in/jayakubriliantio"
          >Jayaku Briliantio</a
        ></span
      >
      <br />From open-source and for open-source
    </p>
  </div>
</footer>
